.about_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: center;
  margin-top: -10rem;
  button {
    padding: 0.8rem;
    border-radius: 6px;
    margin-top: 10px;
    background-color: #F82C4D;
    border:none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 700;
  }

  button:hover {
    filter: brightness(70%);
  }
}

.me_and_itachi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s;
  margin-left: 5rem;
}

.about_inf_area {
  max-width: 500px;
  display: flex;
  height: auto;
  margin-left: 5rem;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 6rem;
  h1 {
    font-size: 30px;
  }

  p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
  }
}

.me_and_itachi_message_area {
  margin-top: 10rem;
}

.hiden_area {
  width: 300px;
  height: 330px;
  margin-left: 200px;
}

.black_back {
  width: 400px;
  height: 500px;
  background-color: black;
  position: absolute;
  z-index: 0;
  margin-top: 5rem;
  margin-right: 5rem;
  transition: all 0.1s;
}

.itachi {
  transition: all 0.1s;
  filter: brightness(85%);
}

.eu_image {
  z-index: 10;
  align-self: flex-start;
  position: absolute;
  transition: all 0.1s;
  filter: brightness(85%);
}


@media screen and (max-width: 900px) {
  .about_container {
    flex-direction: column;
    height: 110vh;
    button {
      margin-bottom: 2rem;
    }
  }
  .me_and_itachi_message_area {
    margin-top: 0rem;
  }
  .hiden_area {
    margin-left: 0px;
    width: 300;
    height: 390px;
  }
  .me_and_itachi {
    margin-left: 2rem;
    margin-top: 10rem;
  }
  .about_inf_area {
    margin-top: 5rem;
    margin-left: 0rem;
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
    }
  }
}
