.header_container {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  padding: 20px;
  background-color: rgba(0,0,0,0.3);
  transition: all 0.5s;
  h1 {
    font-size: 2rem;
    transition: all 0.5s;
  }
}

.header_nav {
  display: flex;
  flex-direction: row;
  transition: all 0.5s;
  
  span {
    font-size: 1.3rem;
    justify-content: space-around;
    margin: 1rem;
    cursor: pointer;
    margin-top: 1.4rem;
    transition: all 0.5s;
  }
  span:hover {
      color: #aaa;
  }
}

.divisor {
  // border-left: 1px solid white;
  height: 80%;
  margin-top: 0.8rem;
}

.bottom_divisor {
  border-bottom: 1px solid white;
  width: 400px;
}
